{% extends 'web/base.html' %}
{% load static %}
{% block content %}

 
    <div class="breadcrumb-area  margin-bottom-120" style="background-image:url('{%static 'web/img/breadcrumb/01.jpg' %}');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb-inner">
                        <span>GADLIX</span>
                        <h2 class="page-title hover-zoom ">THE DIGITAL MARKETING <br> RESEARCH BAND
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- we offer  -->
    <section class="who-we-are-area ">
        <div class="container">
            <div class="who-we-are-wrapper bg-image padding-bottom-90 ">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 id="abouthead" class="title-md-line hover-zoom ">
                            DIGITAL MARKETING AGENCY
                        </h3>
                        
                        <p id="about-p">Gadlix is a digital marketing research firm that specializes in providing insights and analytics for businesses to optimize their online marketing strategies. With a team of experienced researchers and data analysts, Gadlix offers comprehensive market research and analysis to help businesses understand their target audience and create effective digital marketing campaigns.

                             <br/>
                             <br/>
                             

                             In today's competitive digital landscape, businesses need to have a strong online presence to stay ahead of their competitors. Gadlix provides a range of digital marketing services, including search engine optimization (SEO), social media marketing, email marketing, pay-per-click (PPC) advertising, and more.                            </p>
                        <br>
                        {% comment %} <p>The company's research team uses advanced tools and techniques to gather data and insights on consumer behavior, market trends, and competitor strategies. By analyzing this data, Gadlix is able to provide businesses with actionable insights and recommendations to improve their online marketing efforts and increase their return on investment (ROI).

                            Whether a business is just starting out with digital marketing or looking to improve its existing strategies, Gadlix offers personalized solutions to fit its clients' specific needs and goals. With a focus on data-driven results and a commitment to delivering exceptional customer service, Gadlix is a trusted partner for businesses looking to succeed in the online marketplace.</p> {% endcomment %}
                    </div>
                </div>
                
                <div id="aboutgutters" class="row no-gutters">
                    <div class="col-md-4 col-lg-3 col-sm-6">
                        <div class="who-we-are-item">
                            <div class="content">
                                <h3 class="title">Mission</h3>
                                <p>Insights to help our clients succeed in the digital marketplace. With advanced tools and techniques, we gather and analyze data to provide comprehensive and customized solutions. We strive to provide exceptional customer service and be a trusted partner in our client's success.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6">
                        <div class="who-we-are-item">
                            <div class="content">
                                <h3 class="title">Vision</h3>
                                <p>Gadlix's vision is to be a leading provider of digital marketing research and analytics. We empower businesses worldwide to achieve their online marketing goals and drive sustainable growth in the dynamic digital marketplace. We believe that true digital marketing services can elevate businesses.


                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6">
                        <div class="who-we-are-item">
                            <div class="content">
                                <h3 class="title">Core Values</h3>
                                <p>To create impactful solutions for our clients, we believe in being creative, curious, and courageous. Our clients benefit from solid relationships built on trust and open communication. We value collaboration, honesty, transparency and excellence in everything we do as a team.

                                </p>
                            </div>
                           
                        </div>
                        <br>
                         
                        <div class="ceodetail mt-5 text-center"><link rel="stylesheet">
                            <br>
                            <h3 class="hover-zoom" id="salavu">PP SALAHUDEEN </h3>
                            <h6 class="text-light">Founder and CEO</h6>
                        </div>
                    </div>
                    
                </div>
                <div class="ceototal">
                <div class="aboutsala"></div>
                <div  class="ceo mt-5 text-center">
                    <br>
                    <h3 class="hover-zoom" id="salavu">PP SALAHUDEEN </h3>
                    <h6 class="text-light">Founder and CEO</h6>
                </div>
                   
                    
                </div>
            </div>
            
        </div>
        
    </section>
    


    <!-- Counter Area -->
    <div class="counterup-area padding-bottom-110 padding-top-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">100</span>+</div>
                            <h4 class="title">Happy Clients </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">10</span>+</div>
                            <h4 class="title">Service Countries </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">30</span>+</div>
                            <h4 class="title">Skilled Laborours </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">999</span>+</div>
                            <h4 class="title">Worldwide Ad</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Our Advertising -->
    <div class="our-advertising-area bg-image padding-top-110 padding-bottom-110">
        <div class="line-b"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title white">
                        <h2 id="empowering" class="title">
                            EMPOWERING YOUR DIGITAL SUCCESS
                        </h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="our-milestone">
                        <h2 class="title"> WE WORK CLOSELY WITH OUR CLIENTS TO FULFILL THEM WITH PERSONALIZED DIGITAL MARKETING SOLUTIONS THAT ELEVATES THEIR COMPANY VALUE.</h2>
                        <div class="milestone-plan">
                            <div class="progress-item-wrapper">
                                <div class="progress-item">
                                    <div class="single-progressbar">
                                        <h4 class="subtitle">Planning</h4>
                                        <div class="html"></div>
                                    </div>
                                    <div class="single-progressbar">
                                        <h4 class="subtitle">Strategy</h4>
                                        <div class="css"></div>
                                    </div>
                                    <div class="single-progressbar">
                                        <h4 class="subtitle">Performance</h4>
                                        <div class="php"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- testimonial area start  -->
    <section class="testimonial-area padding-top-120 padding-bottom-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="testimonial-top padding-bottom-50 padding-top-55">
                        <div class="section-title">
                            <div class="icon">
                                <i class="flaticon-right-quote-1"></i>
                            </div>
                            <h2 id="aboutclin" class="title">Clinets testimonial </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-carousel-area margin-top-100">
                        <div class="testimonial-carousel">
                            {% for testimonial in testimonial %}
                        <div  class="single-testimonial-item">
                            <div class="content">
                                <div class="content-wrapper">
                                    <p id="aboutesti"  class="description">{{testimonial.decription}}</p>
                                </div>
                                <div class="author-details">
                                    <div class="thumb hover-zoom ">
                                        <img src="{{testimonial.image.crop.120x120}}" alt="testimonial">
                                    </div>
                                    <div class="author-meta">
                                        <h4 id="aboutesti"  class="title">{{testimonial.name}}</h4>
                                        <span id="aboutesti"  class="designation">{{testimonial.designation}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial area end -->

    <!-- Team Section -->
    <section class="creative-team bg-image padding-top-110 padding-bottom-55">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-12">
                    <div class="section-title white desktop-center padding-top-25 margin-bottom-55">
                        <p class="meta">meet our expert team </p>
                        <h2 class="title hover-zoom ">our team <span>.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  col-sm-6 padding-bottom-60">
                    <div class="team-section">
                        <div class="team-img-cont">
                            <img src="{%static 'web/img/afrii.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="social-link style-03">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-square facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square twitter"></i></a></li>
                                    <li><a href="https://instagram.com/_afrin_shaganas_/"><i class="fab fa-google-plus-square g-plus"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="title">Afrin Shaganas</h4>
                            </h6><span> Digital Marketing Specialist</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 padding-bottom-60">
                    <div class="team-section">
                        <div class="team-img-cont">
                            <img src="{%static 'web\img\gggg.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="social-link style-03">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-square facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square g-plus"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="title">Nabaha</h4>
                            <span>Digital Marketing Specialist</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 padding-bottom-60">
                    <div class="team-section">
                        <div class="team-img-cont">
                            <img src="{%static 'web/img/fggsshgh.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="social-link style-03">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-square facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square twitter"></i></a></li>
                                    <li><a href="https://instagram.com/_shibili__nk/"><i class="fab fa-google-plus-square g-plus"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="title">Mohammed Shibili NK</h4>
                            <span>Digital Marketing Specialist</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 padding-bottom-60">
                    <div class="team-section">
                        <div class="team-img-cont">
                            <img src="{%static 'web/img/hdsjuhhbkajd.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="social-link style-03">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-square facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square twitter"></i></a></li>
                                    <li><a href="https://instagram.com/muhsin_melayil/"><i class="fab fa-google-plus-square g-plus"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="title">Muhsin PK</h4>
                            <span>Digital Marketing Lead</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 padding-bottom-60">
                    <div class="team-section">
                        <div class="team-img-cont">
                            <img src="{%static 'web/img/fvjbgdfjhvjksfhnb.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="social-link style-03">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-square facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square twitter"></i></a></li>
                                    <li><a href="https://instagram.com/sahal___m1/"><i class="fab fa-google-plus-square g-plus"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="title">Sahal</h4>
                            <span>Digital Marketing Specialist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--=======================
    Client Section
    ========================-->
    <div class="client-section bg-liteblue padding-top-110 padding-bottom-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title desktop-center padding-bottom-25">
                        <h3 id="clinttit" class="client-title">
                            WHO WORKED WITH US
    
                        </h3>
                        <h2 class="hover-zoom" id="clintshow">CLIENT SHOWCASE</h2>      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="client-area">
                        {% include 'web/partials/clients.html'  %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    

 
    {% endblock %}


    