{% extends 'web/base.html' %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" style="background-image:url({% static 'web/img/breadcrumb/01.jpg' %});">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb-inner">
                        <span>Latest Blog</span>
                        <h2 class="page-title">Whats going around us in recent time</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content our-attoryney padding-top-120 padding-bottom-170">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="blog-item padding-bottom-55">
                        <div class="thumb">
                            <img src="{{update.image.crop.900x600}}" alt="blog">
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="blog-author-item">
                                    <div class="post-time">
                                        <h4 class="post-date">{{update.date|date:"d"}}</h4>
                                        <span class="post-month">{{update.date|date:"M"}}</span>
                                    </div>
                                    <div class="author-mate">
                                        <!-- <div class="thumb">
                                            <img src="{% static 'web/img/blog-single/07.jpg' %}" alt="">
                                        </div> -->
                                        <!-- <h3 class="author-name">
                                            Adam Sunny
                                        </h3> -->
                                    </div>
                                    <div class="social-link style-01">
                                        <!-- <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog-content">
                                    <div class="blog-item-header">
                                        <ul class="post-meta">
                                            <!-- <li>
                                                <div class="cats"><i class="far fa-bookmark"></i> <a href="#">Business</a>, <a href="#">Agancy</a></div>
                                            </li> -->
                                        </ul>
                                    </div>
                                    <h2 class="sub-title">{{update.summary}}
                                    </h2>
                                    <p>{{update.content|safe}}
                                    </p>
                                    <!-- <div class="blog-details-img padding-top-40">
                                        <img src="{% static 'web/img/blog-single/04.jpg' %}" alt="">
                                    </div> -->
                                    <!-- <blockquote>
                                        <p>Creative has been focusing on project management. your brand equity with the strategic one. </p>
                                    </blockquote>
                                    <p>Start building your brand equity with the strategic one. Creative has been focusing on project management. your brand equity with the strategic one. Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil
                                        expetendis in mei.
                                    </p>
                                    <p>Start building your brand equity with the strategic one. Creative has been focusing on project management. your brand equity with the strategic one. Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil
                                        expetendis in mei.
                                    </p> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="blog-footer">
                            <div class="left">
                                <div class="footer-post">
                                    <div class="btn-wrapper">
                                        <a href="#" class="post-btn"><i class="fas fa-long-arrow-alt-left"></i> <span>Older Post</span></a>
                                    </div>
                                    <h3 class="title">A beautiful place with nature</h3>
                                </div>
                            </div>
                            <div class="right">
                                <div class="footer-post">
                                    <div class="btn-wrapper">
                                        <a href="#" class="post-btn"><span>Newest Post</span><i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                    <h3 class="title">A beautiful place with nature</h3>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="comments-area">
                        <div class="comment-form-wrap padding-top-40">
                            comment form wrap
                            <h3 class="reply-title">Post Comment</h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <form action="https://freakytheme.com/html/outmedia/blog-details.html" class="comment-form">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="fname" placeholder="First Name" class="form-control" required="" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="lname" placeholder="Last Name" class="form-control" required="" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="phone" placeholder="Phone" class="form-control" required="" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="msg" id="msg" cols="4" rows="4" placeholder="Send Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="btn-wrapper">
                                            <a href="#" class="boxed-btn">Post Comment</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>  -->
                </div>
                <div class="col-lg-3">
                    <div class="widget-area">
                        <!-- <div class="widget style-01 widget_search">
                            <form action="https://freakytheme.com/html/outmedia/blog.html" class="search-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button class="submit-btn" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="widget style-01 widget_author_meta bg-image" style="background-image: url({% static 'web/img/blog-single/05.jpg' %});">
                            <div class="content">
                                <h4 class="name">
                                    About Author
                                </h4>
                                <div class="thumb">
                                    <img src="{% static 'web/img/blog-single/06.jpg' %}" alt="">
                                </div>
                                <p>Start building your brand equity with the strategic one. Creative has been focusing.</p>
                            </div>
                        </div>
                        <div class="widget style-01 widget_social">
                            <h3 class="widget-title style-01">Follow Us</h3>
                            <div class="social-link style-02">
                                <ul>
                                    <li><a href="https://www.facebook.com/codingeek.net"><i class="fab fa-facebook-square facebook"></i></a></li>
                                    <li><a href="https://twitter.com/codingeeknet"><i class="fab fa-twitter-square twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/codingeek"><i class="fab fa-google-plus-square g-plus"></i></a></li>
                                    <li><a href="https://www.instagram.com/codingeeknet"><i class="fab fa-instagram instagram"></i></a></li>
                                </ul>
                            </div>
                        </div> -->
                        <div class="widget style-01 widget_recent_posts">
                            <h4 class="widget-title style-01">Recent Post</h4>
                            <ul class="recent_post_item">
                                {% for update in updates %}
                                <li class="single-recent-post-item">
                                    <div class="thumb">
                                        <img src="{{update.image.crop.60x60}}" alt="recent post">
                                    </div>
                                    <div class="content">
                                        <h4 class="title"><a href="#">{{update.title}}</a></h4>
                                        <span class="time"><i class="far fa-clock"></i> {{update.date}}</span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- <div id="tag_cloud-2" class="widget style-01 widget_tag_cloud">
                            <h2 class="widget-title style-01">Tags</h2>
                            <div class="tagcloud">
                                <a href="#">App</a>
                                <a href="#">Articles</a>
                                <a href="#">Business</a>
                                <a href="#">Technology</a>
                                <a href="#">Marketing</a>
                                <a href="#">Social</a>
                                <a href="#">Politics</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    {% endblock %}