{% load static %}
<section class="footertottal">
<div class="contact-area padding-top-120 padding-bottom-120" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-title white">
                    <h2 class="title">TRANSFORM YOUR BRAND WITH <br> <span id="clintheadco"> DIGITAL MARKETING STRATEGIES</span>
                    </h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="contact-content">
                    <h4 class="title">
                        Contact us
                    </h4>
                    <p>MA Arcade, Near Calicut Airport, Kerala, India
                        info@gadlix.com <br>
                        +91 9288004433</p>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- footer area start -->
  <footer class="footer-area">
    <div class="footer-top padding-top-115 padding-bottom-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget widget">
                        <div class="about_us_widget">
                            <a href="{% url 'Web:index' %}" class="footer-logo hover-zoom "> <img src="{% static 'web/img/gadlix_logo__black-01-removebg-preview.png' %}" alt="footer logo"></a>
                            <p>© Copyrights 2022 Gadlix.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget widget widget_nav_menu">
                        <h4 class="widget-title">Quick links</h4>
                        <ul>
                            <li><a href="{% url 'Web:index' %}">Home</a></li>
                            <li><a href="{% url 'Web:about' %}">About</a></li>
                            <li><a href="{% url 'Web:services' %}">Services</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget widget widget_nav_menu">
                        <h4 class="widget-title">Quick links</h4>
                        <ul>
                            <li><a href="{% url 'Web:gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'Web:blog' %}">Updates</a></li>
                            <li><a href="{% url 'Web:contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget widget ">
                        <h4 class="widget-title">Subscribe </h4>
                        <div class="subscribe-area">
                            <form class="subscribe-form" action="">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email" />
                                    <div class="icon"><i class="far fa-envelope"></i></div>
                                </div>
                                <button type="submit" class="subscribe-btn"><i class="flaticon-send"></i></button>
                            </form>
                        </div>
                        <div>
                            <ul class="social_share">
                                <li><a href="https://www.facebook.com/gadlixadvertising?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/gadlixadvertising/?igshid=MjljNjAzYmU%3D"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://twitter.com/gadlix"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/90763604/admin/notifications/all/"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- footer area end -->



<!-- back to top area start -->
<div class="back-to-top">
    <span class="back-top"><i class="fa fa-angle-up"></i></span>
</div>
<!-- back to top area end -->
</section>